Archives/*
libraries/RF24-master/examples/*
libraries/RF24-master/tests/*
libraries/Bridge/*
libraries/LiquidCrystal/*
libraries/SD/*
libraries/SpacebrewYun/*
libraries/Temboo/*
libraries/arduino*

Doxy*
doxy*
FAQ
*.txt
*.md
*.xslt
.idea/
cmake-build-debug/
util*